<div class="container">
    <a href="/Admin/Kullanici" class="btn btn-primary" style="margin-bottom:15px;">Geri Git</a>
    <form action="/Admin/Kullanici/Update/@Model.Id" method="post" >
    <input type="text" class="form-control" style="margin-bottom:10px;" value="@Model.Username" name="Username"/>
    <input type="password" class="form-control" style="margin-bottom:10px;" value="@Model.Password" name="Password"/>
    <button type="submit" class="form-control btn btn-primary">Ekleme Yap</button>
    </form>

@if(ViewBag.Message != null)
{
    <div class="alert alert-success" style="margin-top:15px">@ViewBag.Message</div>

}
</div>