<div class="container">

    <a href="/Admin/Kampanya" class="btn btn-primary" style="margin-bottom:10px;">Geri</a>

    <form action="/Admin/Kampanya/Update/@Model.Id" enctype="multipart/form-data" method="post">
        <input type="text" class="form-control" name="Campaignname" value="@Model.Campaignname" style="margin-bottom:10px;"/>
        <textarea name="Campaigndetail" class="form-control" style="margin-bottom:10px;">@Model.Campaigndetail</textarea>
        <button type="submit" class="form-control btn btn-primary">Güncelle</button>
    </form>

</div>
@if(ViewBag.Message != null)
{
    <div class="alert alert-success" style="margin-top:15px;">@ViewBag.Message</div>
}
@if(ViewBag.Error != null)
{
    <div class="alert alert-danger" style="margin-top:15px;">@ViewBag.Error</div>
}